body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

h1 {
  text-align: center;
}

#data-container {
  margin: 0 auto;
  max-width: 800px;
}

.exam-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 1px rgba(100, 100, 100, 0.1);
}

.exam-item h2 {
  margin: 0 0 10px 0;
}

.exam-item .patient, .exam-item .doctor {
  margin-bottom: 40px;
}

.exam-item table {
  width: 100%;
  border-collapse: collapse;
}

.exam-item table, .exam-item th, .exam-item td {
  border: 1px solid #ddd;
}

.exam-item th, .exam-item td {
  padding: 8px;
  text-align: left;
}

.exam-item th {
  background-color: #f4f4f4;
}

#pagination-controls {
  text-align: center;
  margin: 20px 0;
}

#pagination-controls button {
  padding: 10px 0;
  width: 100px;
  margin: 0 10px;
  border-width: 1px;
  border-color: darkgray;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(100, 100, 100, 0.1);
}

#page-info {
  font-size: 1.2em;
}

.text-center {
  text-align: center;
}